@use "partials/reset";
@use "partials/fonts" as f;
@use "partials/colors" as c;

.hero {
    background-color: navajowhite;
    background-image: url('../imgs/library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    h1 {
        font-family: f.$font-stack-one;
        color: c.$white;
        font-size: clamp(2rem, 15vh, 5rem);
        
    }
}