body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.hero {
  background-color: navajowhite;
  background-image: url("../imgs/library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hero h1 {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #f7f7ff;
  font-size: clamp(2rem, 15vh, 5rem);
  margin: 3rem 0 1.5rem;
  text-align: center;
}

.books-wrapper {
  background-color: #6a3c20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: min(100%, 900px);
  display: flex;
  flex-wrap: wrap;
}
.books-wrapper .book-card {
  background: #3e211c;
  background: -moz-linear-gradient(90deg, #3e211c 0%, #aa4334 50%, #3e211c 100%);
  background: -webkit-linear-gradient(90deg, #3e211c 0%, #aa4334 50%, #3e211c 100%);
  background: linear-gradient(90deg, #3e211c 0%, #aa4334 50%, #3e211c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e211c",endColorstr="#3e211c",GradientType=1);
  border: 2px solid #e8c053;
  color: #e8c053;
  flex: 1 0 250px;
  padding: 0.5rem;
  margin: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.books-wrapper .book-card .book-title {
  font-size: 2rem;
  font-family: "Arial", "Helvetica", sans-serif;
}
.books-wrapper .book-card .book-author {
  font-size: 1.5rem;
  font-family: "Arial", "Helvetica", sans-serif;
}
.books-wrapper .book-card .book-pages, .books-wrapper .book-card .book-read {
  font-size: 1.1rem;
  font-family: "Arial", "Helvetica", sans-serif;
}
.books-wrapper .book-card .inbook-btn {
  all: unset;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  background: #262626;
  color: #e8c053;
  margin: 0 0.3em;
  cursor: pointer;
  transition: all 1s;
}
.books-wrapper .book-card .inbook-btn:hover {
  transform: scale(0.9);
}
.books-wrapper .book-card div {
  margin: 1em 0;
}

button.new-book-btn {
  all: unset;
  background: #262626;
  color: #f7f7ff;
  border: 2px solid #e8c053;
  padding: 1em 2em;
  margin: 1em 0;
  cursor: pointer;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.new-book-form {
  width: min(100%, 350px);
  background: #3e211c;
  background: -moz-linear-gradient(90deg, #3e211c 0%, #aa4334 50%, #3e211c 100%);
  background: -webkit-linear-gradient(90deg, #3e211c 0%, #aa4334 50%, #3e211c 100%);
  background: linear-gradient(90deg, #3e211c 0%, #aa4334 50%, #3e211c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e211c",endColorstr="#3e211c",GradientType=1);
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #e8c053;
  border: 2px solid #e8c053;
}
.new-book-form input[type=text], .new-book-form input[type=number] {
  width: 90%;
  font-size: 1rem;
  padding: 0.5rem;
}
.new-book-form input[type=checkbox] {
  background-color: #eee;
  width: 25px;
  height: 25px;
}
.new-book-form input[type=checkbox]:checked {
  background-color: #2196f3;
}
.new-book-form input[type=submit] {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  margin: 1em 0;
}
.new-book-form label {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.3rem;
  margin: 0.5em 0;
}
.new-book-form .form-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}
.new-book-form .form-btns .form-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: none;
  background-color: #262626;
  color: #e8c053;
  font-size: 1.2rem;
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 1em;
}

.new-book-form.hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
