@use "partials/reset";
@use "partials/fonts" as f;
@use "partials/colors" as c;

.hide {
    display: none;
}

.hero {
    background-color: navajowhite;
    background-image: url('../imgs/library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
        font-family: f.$font-stack-one;
        color: c.$white;
        font-size: clamp(2rem, 15vh, 5rem);
        margin: 3rem 0 1.5rem;
        text-align: center;
    }
}
.books-wrapper {
    background-color: c.$brown;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: min(100%, 900px);
    display: flex;
    flex-wrap: wrap;
    .book-card {
        // background-color: c.$book;
        background: rgb(62,33,28);
        background: -moz-linear-gradient(90deg, rgba(62,33,28,1) 0%, rgba(170,67,52,1) 50%, rgba(62,33,28,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(62,33,28,1) 0%, rgba(170,67,52,1) 50%, rgba(62,33,28,1) 100%);
        background: linear-gradient(90deg, rgba(62,33,28,1) 0%, rgba(170,67,52,1) 50%, rgba(62,33,28,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e211c",endColorstr="#3e211c",GradientType=1);
        
        border: 2px solid c.$yellow;
        color: c.$yellow;
        flex: 1 0 250px;
        padding: .5rem;
        margin: 1em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .book-title {
            font-size: 2rem;
            font-family: f.$font-stack-one;
        }
        .book-author {
            font-size: 1.5rem;
            font-family: f.$font-stack-one;
        }
        .book-pages, .book-read {
            font-size: 1.1rem;
            font-family: f.$font-stack-one;
        }
        .inbook-btn {
            all: unset;
            padding: .5em 1em;
            font-size: 1.2rem;
            background: c.$black;
            color: c.$yellow;
            margin: 0 .3em;
            cursor: pointer;
            transition: all 1s;
            &:hover {
                transform: scale(.9);
            }
        }
        div {
            margin: 1em 0;
        }
    }
}

button.new-book-btn {
    all: unset;
    background: c.$black;
    color: c.$white;
    border: 2px solid c.$yellow;
    padding: 1em 2em;
    margin: 1em 0;
    cursor: pointer;
    font-family: f.$font-stack-one;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.new-book-form {
    width: min(100%, 350px);
    // background:c.$book;
    background: rgb(62,33,28);
    background: -moz-linear-gradient(90deg, rgba(62,33,28,1) 0%, rgba(170,67,52,1) 50%, rgba(62,33,28,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(62,33,28,1) 0%, rgba(170,67,52,1) 50%, rgba(62,33,28,1) 100%);
    background: linear-gradient(90deg, rgba(62,33,28,1) 0%, rgba(170,67,52,1) 50%, rgba(62,33,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e211c",endColorstr="#3e211c",GradientType=1);

    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: c.$yellow;
    border: 2px solid c.$yellow;
    input[type="text"], input[type="number"] {
        width: 90%;
        font-size: 1rem;
        padding: .5rem;
    }
    input[type="checkbox"] {
        background-color: #eee;
        width: 25px;
        height: 25px;
        &:checked {
            background-color: #2196f3;
        }
    }
    input[type="submit"] {
        font-size: 1.2rem;
        padding: .2rem .5rem;
        margin: 1em 0;
    }
    label {
        font-family: f.$font-stack-one;
        font-size: 1.3rem;
        margin: .5em 0
    }
    .form-btns {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 1em 0;
        .form-btn {
            font-size: 1.2rem;
            font-family: f.$font-stack-one;
            padding: 1em;
        }
    }
}
.new-book-form.hide {
    display:none;
}