.mainContainer {
  background-color: var(--main);
  width: 100%;
  min-height: calc(100vh - 3rem);
}

.displayContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
  grid-template-areas: 
  "selected"
  "list";
}
.displayContainer ul li:hover {
  cursor: pointer;
}
.displayContainer ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  grid-area: list;
}
.listItem {
  background-color: var(--off-white);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}
.listItemTitle {
  font-weight: bold;
}
.selectedContainer {
  background-color: var(--off-white);
  padding: 2rem 3rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 20rem;
  grid-area: selected;
}
.selectedTitle {
  font-size: 1.5rem;
  text-align: center;
}
.selectedAuthor {
  text-align: center;
}
.selectedCheckbox {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  left: 11px;
}
/* Media Quieries */
@media screen and (min-width: 57rem) {
  .displayContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem 0;
    grid-template-areas: 
    "list selected";
  }
  
}