.mainContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}
.formItem {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  width: 32em;
}
.formItem input {
  width: 100%;
}
.form {
  background-color: var(--white);
  padding: 2rem;
}

.error {
  color: white;
  background-color: #F04841;
  padding: .5rem;
  margin: .5rem 0;
  font-family: sans-serif;
}

.googleBtn {
  display: flex;
  align-items: center;
  padding: .5rem 2rem;
  background-color: #f5f5f5;
  border-style: none;
  border-radius: 10px;
  font-size: 1rem;
  gap: 1rem;
}

.title {
  font-size: 2rem;
}