.addBookBtn {
  border-style: none; 
  font-size: 2rem;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  background-color: var(--black);
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  left: 10%;
}
.addBookBtn svg {
  color: var(--accent-1);
}

.addBookFormContainer {
  background-color: rgba(26,24,27,.28);
  position: fixed;
  width: 100vw;
  height: calc(100vh - 3rem);
  top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBookFormContainer form {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: min(80vw, 30rem);
  margin: 0 auto;
  background-color: var(--black);
  padding: 1rem;
  color: var(--off-white);
}
.addBookFormContainer form label {
  margin: 1rem 0 .5rem;
  font-weight: 600;
}
.addBookFormContainer form input {
  font-size: 1rem;
  padding: .5rem;
}
.addBookFormContainer form div button {
  background-color: var(--white);
  border-style: none;
  padding: .75rem 2.25rem;
  border-radius: 10px;
  font-size: 1rem;
}
.formBtnsContainer {
  display: flex;
  justify-content: space-around;
}
/* Checkbox styles */
.addBookFormContainer form input[type="checkbox"] {
  height: 28px;
}